<head>
  {% include meta-tags.html %}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css" />
  {% if page.custom_css %} {% for stylesheet in page.custom_css %}
  <link
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css"
  />
  {% endfor %} {% endif %} {% if page.nature == "fiche" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fiches.css" />
  {% endif %}
  <script src="{{ base.url | prepend: site.url }}/assets/js/libraries/jquery/jquery-3.6.0.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/libraries/splide-4.0.1/dist/js/splide.min.js"></script>
  <link
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/js/libraries/splide-4.0.1/dist/css/splide.min.css"
  />
</head>
