<script src="{{ site.baseurl }}/assets/js/global.js"></script>
{% if page.custom_js %} {% for jsfile in page.custom_js %}
<script src="{{ site.baseurl }}/assets/js/{{ jsfile }}.js"></script>
{% endfor %} {% endif %} {% if page.nature == "fiche" %}
<script src="{{ site.baseurl }}/assets/js/fiches.js"></script>
{% endif %} {% if page.nature == "equipe" || page.nature == "fiche" %}
<script src="{{ site.baseurl }}/assets/js/libraries/nanogallery2-3.0.5/dist/jquery.nanogallery2.min.js"></script>
{% endif %}
