{% if site.data.social-media %}
<div id="social-media">
  {% assign sm = site.data.social-media %} {% for entry in sm %} {% assign key =
  entry | first %} {% if sm[key].id %}
  <a
    target="_blank"
    href="{{ sm[key].href }}{{ sm[key].id }}"
    title="{{ sm[key].title }}"
  >
    <img src="{{ sm[key].image }}" alt=""
  /></a>
  {% endif %} {% endfor %}
  <div>
    <button id="back-top">
      <img src="/assets/images/navigation/Back_Top.svg" alt="" />
    </button>
  </div>
</div>
{% endif %}
