body {
  // min-width: 667px !important;
  // min-height: 375px !important;
}

body {
  width: 99vw;
  height: 89vh;
  display: flex;
}
img {
  max-width: 100%;
  height: auto;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
button {
  all: unset;
  cursor: pointer;
}

#label-menu {
  display: flex;
}
#texte-un {
  width: fit-content;
}

#texte-deux {
  width: fit-content;
}
#container-nav {
  width: 100%;
  position: inherit;
  height: max-content;
  text-align: end;
}
#burger {
  display: none;
}

#menu {
  display: flex;
  justify-content: end;
}

// --------------------FOOTER-------------------
footer {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  background-color: none;
  height: auto;
  min-height: 50px;
  border-top: solid gray;
}

#social-media {
  display: flex;
  align-items: baseline;
}
#texte-footer {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.menu-button-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#menu-button {
  right: 0;
  position: fixed;
  margin-right: 15px;
  display: none;
}

// @media all and (max-width: 1315px) {
//   footer {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     margin-top: 5%;
//     text-align: center;
//   }
//   #texte-footer {
//     display: flex;
//     width: 70%;
//     flex-direction: column;
//     align-items: center;
//     padding: 2%;
//   }
//   #reseaux {
//     display: flex;
//     align-items: center;
//   }
//   // --------------------MENU-------------------
//   #label-menu,
//   #toggle {
//     display: none;
//   }
//   header {
//     height: 50px;
//     background-color: none;
//   }

//   nav {
//     height: fit-content;
//     display: flex;
//     justify-content: flex-end;
//     margin-right: 20px;
//     flex-direction: column;
//   }

//   nav #menu {
//     display: flex;
//     // background-color: black;
//     width: 50%;
//     align-self: end;
//     // display: none;
//     flex-direction: column;
//     // background: none;
//     height: fit-content;
//     // width: 100%;
//     text-align: center;
//     position: relative;
//   }

//   nav #menu a {
//     width: 50%;
//   }

//   #label-menu {
//     width: 30px;
//     display: flex;
//     font-size: 40px;
//     color: #f2977d;
//     cursor: pointer;
//     float: right;
//   }

//   #burger {
//     width: 100%;
//     height: fit-content;
//     display: block;
//   }

//   #toggle:checked ~ #menu {
//     display: flex;
//     position: relative;
//   }
//   #toggle:not(:checked) ~ #menu {
//     display: none;
//   }

@media (max-width: 1450px) {
  #menu-button {
    display: initial;
  }
}
