#content {
  width: 100%;
  height: 100%;
  // padding-right: 200px;
  max-height: max-content;
}

#menu li {
  display: inline;
}

#menu a:link,
#menu a:visited {
  text-decoration: none;
  color: #f2977d;
  font-weight: 300;
  font-size: 24px;
}

#menu :not(:last-child) {
  border-right: 2.5px solid #f2977d;
  padding-right: 15px;
  padding-left: 15px;
}

#menu li:last-child {
  padding-left: 15px;
  padding-right: 15px;
}

.blue {
  background-color: blue;
}

#container-logo {
  // width: 139px;
}

header {
  // justify-content: flex-end;
  display: flex;
  width: min-content;
  height: fit-content;
  margin-right: 50px;
  // float: right;
  background: #f1f1f1;
}

#container-nav {
  width: min-content;
}

body {
  flex-direction: column;
  // max-height: 100vh !important;
}
#content {
  display: flex;
  // height: auto;
}

#core-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
  text-align: start;
  background-color: rgb(241, 241, 241);
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin-top: 0;
}

#main-content {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#main-content::-webkit-scrollbar {
  display: none;
}

#texte-un {
  width: fit-content;
}

#texte-deux {
  width: fit-content;
}

#overlay {
  z-index: 2;
  width: 70%;
  height: 100%;
  position: fixed;
  background-color: grey;
  display: block;
  right: 0;
  opacity: 0.5;
  display: flex;
}

#flou {
  background-color: blue;
  position: fixed;
  z-index: 4;
  width: 10%;
  height: 100%;
  opacity: 0.5;
  filter: blur(3px);
}

#mon-image {
  background: url(https://i.stack.imgur.com/AF4np.jpg) no-repeat;
  height: 500px;
  width: 500px;
  border: solid 1px #000;
  padding-left: 300px;
  box-sizing: border-box;
  box-shadow: inset -350px 0 100px 0 #fff;
}

* {
  font-family: "Lato", sans-serif;
}

#content {
  padding-left: 150px;
  width: calc(100vw - 173px);
  // height: calc(100vh - 57px);
  // max-height: 100%;
}

#texte-accueil > p {
  font-weight: 400;
  // font-size: 20px;
  font-size: 1.15vw;
  margin-bottom: -5px;
  margin-top: 10px;
  line-height: 31px;
}

#texte-accueil > h5 {
  font-weight: 550;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
}

#texte-accueil > h1 {
  font-weight: 900;
  font-size: 96px;
  color: #f2977d;
  margin-bottom: 0px;
  margin-top: 15px;
}

#content-accueil {
  width: 100%;
}

#texte-accueil {
  padding-bottom: 10px;
  margin-top: 20%;
  padding-left: 100px;
  padding-right: 100px;
}

#photo-accueil {
  width: 100%;
  max-width: 50%;
  display: flex;
  // justify-content: end;
  justify-content: center;
}

#photo-accueil > img {
  // object-fit: contain;
  min-width: 100%;
  height: auto;
  width: -webkit-fill-available;
  margin-left: 20px;
}

#container-logo {
  // margin-top: 20px;
  // margin-left: 10px;
  position: absolute;
  // left: 10px;
  display: flex;
  width: 98%;
  justify-content: space-between;
}
header {
}

.btn-reserver {
  text-align: center;
  width: 149px;
  height: 47px;
  border-radius: 20px;
  background-color: #f2977d;
  border: transparent;
  margin-top: 31px;
}

.btn-reserver > span {
  padding: 10px;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

#reseaux {
  right: 10px;
  // position: absolute;
}

#image-texte-accueil {
  display: none;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  margin: 0px;
  z-index: 9;
}

#main-menu ol {
  max-width: 800px;
  width: 100%;
  height: 65%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #b9faf8;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#image-background-text {
  display: none;
}

@media screen and (max-width: 1300px) {
  header {
    margin-right: unset;
  }

  #container-logo {
    width: 100%;
  }
}
@media screen and (max-width: 1360px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  #content {
    padding-left: unset;
    width: 100%;
  }

  #main-logo {
    -webkit-filter: drop-shadow(1px 1px 0 black)
      drop-shadow(-1px -1px 0 #f2977d);
    filter: drop-shadow(1px 1px #f2977d) drop-shadow(-1px -1px 1px #f2977d);
  }
}
@media (max-width: 1360px) {
  #texte-accueil {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
  }
}

@media (max-width: 500px) {
  #texte-accueil {
    max-height: 80%;
  }
}

@media (max-width: 420px) {
  #texte-accueil {
    max-height: 56%;
  }
}

@media (max-width: 375px) {
  #texte-accueil {
    max-height: 65%;
  }
}

@media (max-width: 360px) {
  #texte-accueil {
    max-height: 59%;
  }
}

@media (max-width: 280px) {
  #texte-accueil {
    max-height: 49%;
  }
}

@media (max-width: 900px) {
  .btn-reserver-responsive {
    display: initial;
  }

  .btn-reserver-desktop {
    display: none;
  }

  #image-background-text {
    display: block;
  }
  #texte-accueil > h1 {
    font-size: 49px;
  }

  #texte-accueil > p {
    font-size: 16px;
  }

  #texte-accueil > h5 {
    font-size: 16px;
  }
  img#image-background-text {
    // opacity: 0.2;
    margin: auto;
  }
  #container-logo {
    position: relative;
    width: calc(100% - 20px);
    display: flex;
  }
  #content {
    padding-left: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: none;
  }
  #photo-accueil {
    width: 100%;
    max-width: none;
    height: auto;
  }
  #photo-accueil > img {
    margin-left: 0;
    display: none;
  }
  #footer {
    position: relative;
  }
  #core-content {
    max-width: none;
    width: 100%;
  }
  #reseaux {
    position: relative;
  }
  #texte-accueil {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    overflow: scroll;
    height: 50%;
    text-align: center;
    background: rgba(211, 211, 211, 0.8);
  }

  #image-texte-accueil {
    display: block;
  }
  #content-accueil {
    align-items: end;
    display: flex;
  }

  body {
    max-height: unset;
    height: auto;
  }
}
