<!DOCTYPE html>
<html>
   {% include header.html %}
  <body>
      <div id="content">
          <header>
  <div id="container-logo">
    <a id="main-logo-mobile" href="{{ site.baseurl }}/"
      ><img  id="main-logo" src="{{ site.baseurl }}/assets/images/logo/Logo.png"
    /></a>
    <div id="menu-button">
    <div class="menu-button-bar"></div>
    <div class="menu-button-bar"></div>
    <div class="menu-button-bar"></div>
  </div>
  </div>
{% include navigation.html %}
</header>
     {{ content }}
  </body>
   {% include footer.html %}
  </div>
  {% include scripts.html %}
</html>
