---
layout: default
custom_css: fiches
custom_js: fiches
nature: fiche
---

<div id="retour">
  <a href="/spectacles.html"><p><- Spectacles</p></a>
</div>
<div id="tout">
  <div id="fiche" class="fiche-mobile">
    <div id="image-affiche">
      <div id="image-max">
        <img
          class="image-affiche-max"
          src="{{ site.baseurl }}/{{page.image}}"
        />
      </div>
      <div class="titre_button">
        <div id="clic">
          <button
            class="btn-reserver"
            onclick="location.href='mailto:{{page.email-reservation}}';"
          >
            <span>Réserver</span>
          </button>
        </div>
        <h1 class="titre-fiche">{{page.title}}</h1>
      </div>
    </div>
    <div id="textes-fiche">{{ page.presentation | markdownify }}</div>
    <div id="galerie">
      <!-- <h2 class="gros-titre">Galerie</h2> -->
      <div
        id="nanogallery2"
        data-nanogallery2='{
                        "thumbnailHeight":  150,
                        "thumbnailWidth":   150,
                        "itemsBaseURL":     {{ site.baseurl }}/
                      }'
      >
        <!-- gallery content -->
        {% for image in site.photo_spectacles %} {% if image.spectacle ==
        page.title %}
        <a
          href="{{ site.baseurl }}/{{ image.image_path }}"
          data-ngThumb="{{ site.baseurl }}/{{ image.image_path }}"
        >
          {{ image.title}}
        </a>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>

  <div id="fiche" class="fiche-desktop">
    <div id="galerie-desktop">
      <!-- <h2 class="gros-titre">Galerie</h2> -->
      <div
        id="nanogallery2-desktop"
        data-nanogallery2='{
                        "thumbnailHeight":  100,
                        "thumbnailWidth":   100,
                        "itemsBaseURL":     {{ site.baseurl }}
                      }'
      >
        <!-- gallery content -->
        {% for image in site.photo_spectacles %} {% if image.spectacle ==
        page.title %}
        <a
          href="{{ site.baseurl }}/{{ image.image_path }}"
          data-ngThumb="{{ site.baseurl }}/{{ image.image_path }}"
        >
          {{ image.title}}
        </a>
        {% endif %} {% endfor %}
        <!-- ### end of the gallery definition ### -->
      </div>
    </div>
    <div id="image-affiche" class="image-affiche-desktop">
      <div id="image-max" class="image-max-desktop">
        <img
          class="image-affiche-max"
          src="{{ site.baseurl }}/{{page.image}}"
        />
      </div>
    </div>
    <div id="textes-fiche" class="textes-fiche-desktop">
      <div class="titre_button">
        <h1 class="titre-fiche desktop">{{page.title}}</h1>
      </div>
      {{ page.presentation | markdownify }}
      <div id="clic">
        <button
          class="btn-reserver"
          onclick="location.href='mailto:{{page.email-reservation}}';"
        >
          <span>Réserver</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="trailer">
  {% if page.youtube_url %}
  <div id="titre-deux">
    <h3>TEASER : {{page.title}}</h3>
  </div>
  {% endif %}

  <div id="teaser">
    {% if page.youtube_url %}
    <div id="video">
      <iframe
        width="561"
        height="359"
        src="{{page.youtube_url}}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    {% endif %}

    <div id="distribution">
      <p>
        <span class="gros">Distribution</span> <br />
        {{ page.distribution}}
      </p>
      <p>
        <span class="gros">Production</span> <br />
        {{ page.production}}
      </p>

      {% if page.lien-dossier-artistique %}
      <a href="{{page.lien-dossier-artistique}}"
        ><span class="gros">Dossier artistique</span></a
      >
      {% endif %}
      <div id="partager">
        <p>A PARTAGER :</p>
        <div id="reseaux">
          <div id="fb">
            <a href="{{page.lien-facebook}}"
              ><img src="{{ site.baseurl }}/assets/images/footer/facebook.png"
            /></a>
          </div>
          <div id="insta">
            <a href="{{page.lien-instagram}}"
              ><img src="{{ site.baseurl }}/assets/images/footer/instagram.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{content}}
</div>
