---
layout: default
custom_css: formations
custom_js: formations
---

<div id="prestation-titre">
  <div id="titre">
    <h2 class="gros-titre">PRESTATIONS SUR-MESURE</h2>
    <p class="phrase-accroche">{{page.phrase_accroche}}</p>
  </div>
  <div id="images">
    <img src="/assets/images/formations/formations.png" />
    <!-- <a href=""><img src="{{page.image2}}" /></a>
    <a href=""><img src="{{page.image3}}" /></a>
    <a href=""><img src="{{page.image4}}" /></a> -->
  </div>
  <div id="texte-prestation">
    <p>{{page.texte_prestation | markdownify}}</p>
  </div>
  <div id="inscrire">
    <button class="btn-reserver">
      <span>S'inscrire</span>
    </button>
  </div>
  <div id="textes-prestation">
    <div id="details">
      <p></p>
       {{page.texte_details | markdownify}}
      </p>
      <div id="part-deux">
        <div class="information">
          <img
            class="fleche-droite"
            src="/assets/images/footer/top.png"
          />
 <span class="info-contact">
          {{page.email}}
        </span>
        </div>
       
     
      <div class="information">
        <img
            class="fleche-droite"
            src="/assets/images/footer/top.png"
          /> <span class="info-contact">
          {{page.tel}}
        </span></div>
       
      </div>
    </div>
  </div>
</div>
